[tools]
python = "latest"

[tasks]
clean = "rm -rf ./dist ./build ShortKut.spec ShortKut.dmg"
install = "brew install python-tk && pip install -r requirements.txt"

[tasks.build]
depends = ["clean"]
run = [
  "pyinstaller --noconfirm --windowed --onefile --name ShortKut --icon assets/icon-sqcl.png --add-data 'assets/icon-1024.png:assets' ./lib.py",
  "rm ShortKut.spec",
  "hdiutil create -fs HFS+ -srcfolder ./dist -volname 'ShortKut' ./ShortKut.dmg",
]
